.contact {
  color: white;
  margin: 3rem 9rem;
  max-height: 60vh;
}

.contactList {
  margin-top: 3rem;
  line-height: 40px;
}

#tsparticles {
  position: absolute;
  max-height: 60vh;
  top: 20;
  left: 0;
  width: 100%;
}
