.ourwork {
  margin: 3rem 7rem;
}

.rule {
  background: #23d997;
  height: 5px;
  margin: 2rem 0rem;
}

.picture {
  margin-left: 0px;
  display: block;
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
}

.ourwork h2 {
  margin-top: 7rem;
  color: white;
}
