.slide {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  z-index: 2;
  margin-top: -7rem;
}

.one {
  background: #fffebf;
}

.two {
  background: #ff8efb;
}

.three {
  background: #8ed2ff;
}

.four {
  background: #8effa0;
}
