.faq {
  margin: 10rem 7rem;
  display: block;
  min-height: 90vh;
  justify-content: space-between;
}

.faq span {
  display: block;
  margin-top: 3rem;
}

.faq p {
  color: white;
  font-size: large;
}

.faq h4 {
  color: white;
  font-size: x-large;
}

.faq h2 {
  color: white;
}

.question {
  margin-top: 5%;
  cursor: pointer;
}

.line {
  background: #cccccc;
  height: 5px;
  width: 100%;
  margin: 2rem 0rem;
}
