.services {
  display: flex;
  justify-content: space-between;
  margin: 3rem 7rem;
  min-height: 90vh;
  margin-top: 10rem;
}

.services h3 {
  color: white;
}

.services h2 {
  color: white;
  font-weight: lighter;
}

.services p {
  color: white;
}

.image img {
  border: 2px solid rgb(8, 17, 8);
  height: 80vh;
  width: 90%;
  //   margin-right: 70px;
  margin-top: 30px;
  object-fit: cover;
}

.description {
  //   margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services img {
  border-radius: 15px;
}

.cards {
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.card {
  margin-right: 10%;
  margin-top: 15%;
  overflow: hidden;
}
.card p {
  margin-top: 5%;
}

.icon {
  display: flex;
  justify-content: space-between;
}

.icon h3 {
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid white;
  border-radius: 14px;
  margin-left: 10%;
  background: white;
  color: black;
  text-align: center;
}
